.productsHeading {
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 2px solid gray;
    padding: 3vmax;
    color: black;
    font: 500 1.5vmax cursive;
    text-align: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;

}
.searchButton {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
}
.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}
.page-item {
    background-color: white;
    list-style: none;
    border: 1px solid black;
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;

}
.page-item:last-child {
    border-radius: 0px 6px 7px 0px;
}
.page-item:first-child {
    border-radius: 6px 0 0 7px;
}
.page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: gray;
    transition: all 0.3s;
}
.page-item:hover {
    background-color: beige;
}
.page-item:hover .page-link {
    color: black;
}
.pageItemActive {
    background-color: red;
}
.pageLinkActive {
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the dropdown button */
  .dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    cursor: pointer;
  }
  
  /* Style for the avatar image */
  .dropdown .avatar img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-right: 8px; /* Adjust the margin as needed */
  }
  
  /* Style for the dropdown menu */
  .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 100px;
    padding: 8px 0;
    margin-top: 4px;
    background-color:beige;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Style for the dropdown menu items */
  .dropdown .dropdown-menu .drop-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #dc3545; /* Adjust the text color as needed */
  }
  
  /* Style for the dropdown menu items on hover */
  .dropdown .dropdown-menu .drop-item:hover {
    background-color: white; /* Adjust the background color on hover */
  }