.productsHeading {
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 2px solid gray;
    padding: 3vmax;
    color: black;
    font: 500 1.5vmax cursive;
    text-align: center;
}
.products {
    display: flex;
    flex-wrap: wrap;
    padding: 5vmax;
    justify-content: center;

}
.searchButton {
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: tomato;
    font: 500 0.7vmax "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
}
.addButton {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: tomato;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.8vmax 6vmax;
  margin: 25vmax;
  outline: none;
}
.add Button {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: tomato;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin: 1vmax;
  outline: none;
}
.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}
.page-item {
    background-color: white;
    list-style: none;
    border: 1px solid black;
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;

}
.page-item:last-child {
    border-radius: 0px 6px 7px 0px;
}
.page-item:first-child {
    border-radius: 6px 0 0 7px;
}
.page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: gray;
    transition: all 0.3s;
}
.page-item:hover {
    background-color: beige;
}
.page-item:hover .page-link {
    color: black;
}
.pageItemActive {
    background-color: red;
}
.pageLinkActive {
    color: white;
}

  /* Checkout Steps */
  
  .checkout-progress div {
    box-sizing: border-box;
  }
  
  .checkout-progress {
    display: block;
    clear: both;
    margin: 20px auto;
    width: auto;
    font-family: sans-serif;
    overflow: auto;
  }
  
  .step {
    margin: 0;
    border: 0;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 5px 10px 5px 15px;
    color: grey;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
    float: left;
    height: auto;
  }
  
  .incomplete {
    background: #eeeeee;
  }
  
  .active-step {
    background: #fa9c23;
    color: #fff;
  }
  
  .triangle-active {
    float: left;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid #fa9c23;
    border-bottom: 20px solid transparent;
    margin-left: -1px;
  }
  
  .triangle2-active {
    width: 0;
    float: left;
    border-top: 20px solid #fa9c23;
    border-left: 15px solid #fff;
    border-bottom: 20px solid #fa9c23;
    margin-right: -1px;
  }
  
  .triangle-incomplete {
    float: left;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid #eeeeee;
    border-bottom: 20px solid transparent;
    margin-left: -1px;
  }
  
  .triangle2-incomplete {
    width: 0;
    float: left;
    border-top: 20px solid #eeeeee;
    border-left: 15px solid #fff;
    border-bottom: 20px solid #eeeeee;
    margin-right: -1px;
  }

  /* Dropdown button styles */
.dropdown-toggle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.avatar img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  border-radius: 50%;
  margin-right: 10px;
}

/* Dropdown menu container */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px; /* Adjust the top margin as needed */
}

/* Dropdown menu items */
.drop-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #dc3545; /* Adjust color as needed */
}

.drop-item:hover {
  background-color: #f8f9fa; /* Adjust background color on hover as needed */
  color: #dc3545; /* Adjust color on hover as needed */
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
