a.login {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
  font: 5 0.8vmax cursive;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 1400px; 
}

/* Hover effect */
a.login:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}
a.product {
  display: inline-block;
  padding: 10px 20px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
  font: 5 0.8vmax cursive;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 700px; 
}
a.product:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}
